<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JackieShop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Css Styles thymeleaf -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/nice-select.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div th:fragment="footer">
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'});"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: OggyTeam</li>
                            <li>Phone: +84 37 6696 037</li>
                            <li>Email: jackieshop@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>THÔNG TIN</h6>
                        <ul>
                            <li><a href="/templates/developing.html">Introduction</a></li>
                            <li><a href="/templates/developing.html">Shop Information</a></li>
                            <li><a href="/templates/developing.html">Terms and Conditions</a></li>
                            <li><a href="/templates/developing.html">Sales Policy</a></li>
                            <li><a href="/templates/developing.html">Privacy Policy</a></li>
                            <li><a href="/templates/developing.html">Returns and Refunds</a></li>
                        </ul>
                        <ul>
                            <li><a href="/templates/developing.html">Products</a></li>
                            <li><a href="/templates/developing.html">Payment Methods</a></li>
                            <li><a href="/templates/developing.html">Projects</a></li>
                            <li><a href="tel:0376696037">Contact</a></li>
                            <li><a href="/templates/developing.html">Innovation</a></li>
                            <li><a href="/templates/developing.html">Commitment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Newsletter</h6>
                        <p>Enter your email to receive the latest notifications from us</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/nhatcoi037"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.messenger.com/t/100038026341974"><i class="fa fa-envelope"></i></a>
                            <a href="https://www.youtube.com/channel/UCNpvBWQbI97vEBp54_fVqdg"><i class="fa fa-youtube"></i></a>
                            <a href="tel:0376696037"><i class="fa fa-tablet"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Thanks for come here <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">NhatCoi</a>
                            </p></div>
                        <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</div>
</body>

</html>