<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JackieShop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Css Styles thymeleaf -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/nice-select.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div th:fragment="header">
    <!-- Page preloaded -->
    <div id="preloaded">
        <div class="loader"></div>
    </div>

    <!-- Begin Mobile First -->
    <div class="menu__overlay"></div>
    <div class="menu__wrapper">
        <div class="menu__logo">
            <a th:href="@{/}"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                <li><a class="amount-cart" th:href="@{/api/v1/shopping-cart}"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>0$</span></div>
        </div>
        <div class="menu__widget">
            <div class="header__top__right__language">
                <img src="/img/LanguageVN.png" alt="">
                <div>VietNam</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">VietNam</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth authSection">
                <!--                                <a th:href="@{/products/show}"><i class="fa fa-user"></i> Login</a>-->
                <a th:href="@{/api/v1/login-form}"><i class="fa fa-user"></i> Login</a>
            </div>
            <div class="header__top__right__name nameSection" style="display:none;">
                <a href="#" class="welcome-display"></a>
            </div>
        </div>
        <nav class="menu__nav mobile-menu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/api/v1/shop-grid}">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a th:href="@{/api/v1/shop-details}">Shop Details</a></li>
                        <li><a th:href="@{/api/v1/shopping-cart}">Shopping Cart</a></li>
                        <li><a th:href="@{/api/v1/checkout}">Check Out</a></li>
                        <li><a th:href="@{/api/v1/blog-details}">Blog Details</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/api/v1/blog}">Blog</a></li>
                <li><a th:href="@{/api/v1/contact}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/nhatcoi037"><i class="fa fa-facebook"></i></a>
            <a href="https://www.messenger.com/t/100038026341974"><i class="fa fa-envelope"></i></a>
        </div>
        <div class="menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>@gmail.com</li>
                <li> 5% discount for orders from 500k</li>
            </ul>
        </div>
    </div>
    <!-- End -->

    <!-- Header Section Desktop-->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> @gmail.com</li>
                                <li>5% discount for orders from 500k</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/nhatcoi037"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.messenger.com/t/100038026341974"><i class="fa fa-envelope"></i></a>
                                <!--                                <a href="#"><i class="fa fa-linkedin"></i></a>-->
                                <!--                                <a href="#"><i class="fa fa-pinterest-p"></i></a>-->
                            </div>
                            <div class="header__top__right__language">
                                <img src="/img/LanguageVN.png" alt="">
                                <div>VietNam</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">VietNam</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth authSection">
<!--                                <a th:href="@{/products/show}"><i class="fa fa-user"></i> Login</a>-->
                                <a th:href="@{/api/v1/login-form}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <div class="header__top__right__name nameSection" style="display:none;">
                                <a href="#" class="welcome-display"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a th:href="@{/}"><img src="/img/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/api/v1/shop-grid}">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a th:href="@{/api/v1/products/2}">Shop Details</a></li>
                                    <li><a th:href="@{/api/v1/shopping-cart}">Shopping Cart</a></li>
                                    <li><a th:href="@{/api/v1/checkout}">Check Out</a></li>
                                    <li><a th:href="@{/api/v1/blog-details}">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/api/v1/blog}">Blog</a></li>
                            <li><a th:href="@{/api/v1/contact}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                            <li><a class="amount-cart" th:href="@{/api/v1/shopping-cart}"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>0$</span></div>
                    </div>
                </div>
            </div>
            <div class="open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</div>


</body>

</html>