<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JackieShop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Css Styles thymeleaf -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/nice-select.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div th:fragment="share-product" class="share">
    <a th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${urlProduct}}"><i class="fa fa-facebook"></i></a>
    <a th:href="@{'https://twitter.com/intent/tweet?url=' + ${urlProduct}}"><i class="fa fa-twitter"></i></a>
    <a th:href="@{'https://www.instagram.com/?url=' + ${urlProduct}}"><i class="fa fa-instagram"></i></a>
</div>
</body>

</html>