<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JackieShop">
    <meta name="user-id" content="${userId}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Css Styles thymeleaf -->
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <th:block th:replace="~{common/css-fragment :: cssStyles}"></th:block>
</head>
<body>
<!-- Header Section End -->
<div th:replace="~{common/header :: header}"></div>
<!-- Header Section End -->

<section class="product spade">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 admin-menu">
<!--                danh sách các chức năng của admin -->
                <h5 class="mb-3">Admin Functions</h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action" data-function="manage-products">Manage Products</li>
                    <li class="list-group-item list-group-item-action" data-function="manage-users">Manage Users</li>
                    <li class="list-group-item list-group-item-action" data-function="view-reports">View Reports</li>
                    <li class="list-group-item list-group-item-action" data-function="settings">Settings</li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-7 admin-content">
<!--                DOM thực hiện các chức năng-->
                <div id="function-content" class="p-4 bg-light rounded">
                    <h5>Welcome, Admin!</h5>
                    <p>Select a function from the menu to get started.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


<!-- Footer Section End -->
<div th:replace="~{common/footer :: footer}"></div>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.slicknav.js}"></script>
<script th:src="@{/js/vendor/mixitup.min.js}"></script>
<script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/js/vendor/main.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" th:src="@{/js/pages/util/common.js}"></script>
<script type="module" th:src="@{/js/pages/util/header.js}"></script>

<script type="module" th:src="@{/js/pages/admin/admin.js}"></script>



</body>
</html>


