<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JackieShop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Css Styles thymeleaf -->
    <th:block th:replace="~{common/css-fragment :: cssStyles}"></th:block>
</head>
<body>
<!-- Header Section End -->
<div th:replace="~{common/header :: header}"></div>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a th:href="@{/}">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spade">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="checkout__input__checkbox auto-fill">
                                    <label for="fill-info">
                                        Auto fill in information
                                        <input type="checkbox" id="fill-info">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

<!--                                <div class="col-lg-6">-->
<!--                                    <div class="checkout__input">-->
<!--                                        <p>First Name<span>*</span></p>-->
<!--                                        <input type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="checkout__input">-->
<!--                                        <p>Last Name<span>*</span></p>-->
<!--                                        <input type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="checkout__input">
                                <p>FullName<span>*</span></p>
                                <input class="full-name" type="text">
                            </div>
                            <div class="checkout__input">
                                <p >Country<span>*</span></p>
                                <input class="country" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" placeholder="Street Address" class="checkout__input__add street-address">
                                <input class="optional-address" type="text" placeholder="Number, Apartment (optional)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input class="city" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input class="postcode" type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input class="phone" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input class="email" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="guest">
                                <div class="checkout__input">
                                    <p>Account Password<span>*</span></p>
                                    <input type="text">
                                </div>

                                <div class="checkout__input__checkbox">
                                    <label for="acc-or">
                                        Create an account?
                                        <input type="checkbox" id="acc-or">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

<!--                            <div class="checkout__input">-->
<!--                                <p>Order notes<span>*</span></p>-->
<!--                                <input type="text"-->
<!--                                    placeholder="Notes about your order, e.g. special notes for delivery.">-->
<!--                            </div>-->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul class="your-order">
                                    <li>
                                        <p>1</p>
                                        <span>$1</span>
                                    </li>
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span>$1</span></div>
                                <div class="checkout__order__total">Total <span>$1</span></div>

<!--                                <div class="checkout__input__checkbox">-->
<!--                                    <label for="payment">-->
<!--                                        Check Payment-->
<!--                                        <input type="checkbox" id="payment">-->
<!--                                        <span class="checkmark"></span>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                                <div class="checkout__input__checkbox">-->
<!--                                    <label for="paypal">-->
<!--                                        Paypal-->
<!--                                        <input type="checkbox" id="paypal">-->
<!--                                        <span class="checkmark"></span>-->
<!--                                    </label>-->
<!--                                </div>-->
                                <button id="place-order" type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


<!-- Header Section End -->
<div th:replace="~{common/footer :: footer}"></div>
<!-- Header Section End -->

<!-- Js Plugins -->
<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.slicknav.js}"></script>
<script th:src="@{/js/vendor/mixitup.min.js}"></script>
<script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/js/vendor/main.js}"></script>
<script th:src="@{/js/pages/components/common.js}"></script>
<script th:src="@{/js/pages/components/header.js}"></script>
<script th:src="@{/js/pages/checkout/checkout.js}"></script>




</body>

</html>