<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="NhatPre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Css Styles thymeleaf -->
    <th:block th:replace="~{common/css-fragment :: cssStyles}"></th:block>
</head>

<body>
<!-- Header Section End -->
<div th:replace="~{common/header :: header}"></div>
<!-- Header Section End -->


<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categories</span>
                    </div>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{'/categories/' + ${category.id}}"
                               th:text="${category.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Product Search
                                <span class="arrow_carrot-down">

                                </span>
                            </div>
                            <label>
                                <input type="text" placeholder="Search">
                            </label>
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <a href="tel:0376696037">
                                <i class="fa fa-phone"></i>
                            </a>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 37 6696 037</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>Buy Now</span>
                        <h2>iPhone 16 Pro Max <br/>100% Authentic</h2>
                        <p>iPhone 16 Pro Max</p>
                        <a th:href="@{'/products/2'}" class="primary-btn">BUY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Slider Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class=" col-lg-3" th:each="cate : ${categories}">
                    <!--                    <div class="categories__item set-bg" th:data-setbg="@{${category.imageUrl}}">-->
                    <div class="categories__item set-bg" th:data-setbg="@{${cate.imageUrl}}">
                        <h5><a th:href="@{'/categories/' + ${cate.id}}" th:text="${cate.name}"></a></h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Categories Section Slider End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>OUTSTANDING PRODUCTS</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".study">Study</li>
                        <li data-filter=".entertain">Entertain</li>
                        <li data-filter=".software">Software</li>
                        <li data-filter=".IT">Technology</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="product-container" class="row featured__filter">
            <!-- Products will be loaded here via AJAX -->
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('${product.thumbnail}');">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/products/${product.id}">${product.name}</a></h6>
                        <h5>${product.price} $</h5>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>

        <!-- Pagination -->
        <div class="col-lg-12">
            <div class="product__pagination blog__pagination d-flex justify-content-center">
                <a href="#">1</a>
                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>


    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/img/banner/banner-left.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/img/banner/banner-right.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <!--                Latest Product -->
            <div class="col-lg-4 col-md-6">
                <div class="special-product__text">
                    <h4>Latest Products</h4>
                    <div class="special-product__slider owl-carousel">
                        <div class="special-product__slider__item" th:each="productList : ${latestProducts}">
                            <div class="special-product__item__group">
                                <div th:each="product : ${productList}">
                                    <a th:href="@{'/products/' + ${product.id}}" class="special-product__item">
                                        <div class="special-product__item__pic">
                                            <img th:src="@{${product.thumbnail}}" alt="">
                                        </div>
                                        <div class="special-product__item__text">
                                            <h6 th:text="${product.name}"></h6>
                                            <span th:text="${product.price} + ' $'"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            Top Rated Products-->
            <div class="col-lg-4 col-md-6">
                <div class="special-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="special-product__slider owl-carousel">
                        <div class="special-product__slider__item" th:each="productList : ${topRatedProducts}">
                            <div class="special-product__item__group">
                                <div th:each="product : ${productList}">
                                    <a th:href="@{'/products/' + ${product.id}}" class="special-product__item">
                                        <div class="special-product__item__pic">
                                            <img th:src="@{${product.thumbnail}}" alt="">
                                        </div>
                                        <div class="special-product__item__text">
                                            <h6 th:text="${product.name}"></h6>
                                            <span th:text="${product.price} + ' $'"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="special-product__text">
                    <h4>Upcoming Products</h4>
                    <div class="special-product__slider owl-carousel">
                        <div class="special-product__slider__item" th:each="productList : ${latestProducts}">
                            <div class="special-product__item__group">
                                <div th:each="product : ${productList}">
                                    <a th:href="@{'/products/' + ${product.id}}" class="special-product__item">
                                        <div class="special-product__item__pic">
                                            <img th:src="@{${product.thumbnail}}" alt="">
                                        </div>
                                        <div class="special-product__item__text">
                                            <h6 th:text="${product.name}"></h6>
                                            <span th:text="${product.price} + ' $'"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>TECH BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tech-blog" class="col-lg-4 col-md-4 col-sm-6">

                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="/img/blog/blog-loading.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i></li>
                            <li><i class="fa fa-comment-o"></i> </li>
                        </ul>
                        <h5><a href="#"></a></h5>
                        <p></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Header Section End -->
<div th:replace="~{common/footer :: footer}"></div>
<!-- Header Section End -->

<!-- Js Plugins -->
<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.slicknav.js}"></script>
<script th:src="@{/js/vendor/mixitup.min.js}"></script>
<script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/pages/home.js}"></script>
<script th:src="@{/js/pages/header.js}"></script>



</body>

</html>