<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="NhatPre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Css Styles thymeleaf -->
    <th:block th:replace="~{common/css-fragment :: cssStyles}"></th:block>
</head>

<body>
<!-- Header Section End -->
<div th:replace="~{common/header :: header}"></div>
<!-- Header Section End -->

<div id="pageContent">
    <div id="home-content" th:insert="~{home :: home}"></div>

</div>

<!-- Header Section End -->
<div th:replace="~{common/footer :: footer}"></div>
<!-- Header Section End -->


<!-- Js Plugins -->
<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.slicknav.js}"></script>
<script th:src="@{/js/vendor/mixitup.min.js}"></script>
<script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/pages/index.js}"></script>
<script type="module" th:src="@{/js/pages/utils.js}"></script>
<script type="module" th:src="@{/js/pages/common.js}"></script>
<script type="module" th:src="@{/js/pages/home.js}"></script>
<script type="module" th:src="@{/js/pages/utils.js}"></script>
<script type="module" th:src="@{/js/pages/header.js}"></script>




</body>

</html>