<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="NhatPre">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JackieShop</title>

  <!-- Css Styles thymeleaf -->
  <th:block th:replace="~{common/css-fragment :: cssStyles}"></th:block>
</head>

<body>
<!-- Header Section End -->
<div th:replace="~{common/header :: header}"></div>
<!-- Header Section End -->

<div id="loginForm" class="login">
  <h2>Log in</h2>
  <form method="post" class="form">
      <input type="text" placeholder="Username or phone" name="userIdentifier">
      <input type="password" placeholder="Password" name="password">
    <div></div>
    <button type="submit">Log in</button>
  </form>a
  <p>Don't have an account? <a th:href="@{/register-form}">Register here</a></p>
</div>

<!-- Header Section End -->
<div th:replace="~{common/footer :: footer}"></div>
<!-- Header Section End -->

<!-- Js Plugins -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.slicknav.js}"></script>
<script th:src="@{/js/vendor/mixitup.min.js}"></script>
<script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/js/vendor/main.js}"></script>
<script th:src="@{/js/pages/user/auth/auth.js}"></script>



</body>
</html>