<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="JackieShop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JackieShop</title>

    <!-- Css Styles thymeleaf -->
    <th:block th:replace="~{common/css-fragment :: cssStyles}"></th:block>
</head>

<body>
    <!-- Header Section End -->
    <div th:replace="~{common/header :: header}"></div>
    <!-- Header Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spade">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6" >
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 th:src="${product.getThumbnail()}" alt="Product Image">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img th:each="image : ${productImages}" th:data-imgbigurl="${product.getThumbnail()}"
                                 th:src="${image.getImageUrl()}" alt="Product Image" style="height: 160px !important; border-radius: 5px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:text="${product.getName()}"></h3>
                        <div class="product__details__rating" th:if="${avgRating != null}">
                            <i class="fa fa-star" th:each="i : ${#numbers.sequence(1, avgRating)}"></i>
                            <i class="fa fa-star-half-o" th:if="${avgRating % 1 != 0}"></i>
<!--                            <span th:text="'(' + ${product.reviews.size()} + ' reviews)'"></span>-->
                        </div>
                        <div class="product__details__price" th:text="${product.getPrice()} + '$'"></div>
                        <p th:text="${product.getDescription()}"></p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="add-to-cart primary-btn" th:data-id="${product.getId()}">ADD TO CART</a>
                        <a href="#" class="heart-icon" th:href="@{'/wishlist/add/' + ${product.getId()}}"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span th:text="${product.getQuantityInStock()} + ' in stock'"></span></li>
<!--                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>-->
                            <li><b>Weight</b> <span th:text="${product.getWeight()} + ' kg'"></span></li>
                            <li><b>Share on</b>
                                <div th:replace="~{common/share-product :: share-product}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Product Information</h6>
                                    <p th:text="${product.getDescription()}"></p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Product Information</h6>
                                    <p th:text="${product.getDescription()}"></p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Product Information</h6>
                                    <p th:text="${product.getDescription()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Header Section End -->
    <div th:replace="~{common/footer :: footer}"></div>
    <!-- Header Section End -->

    <!-- Js Plugins -->
    <script th:src="@{/js/vendor/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
    <script th:src="@{/js/vendor/jquery.slicknav.js}"></script>
    <script th:src="@{/js/vendor/mixitup.min.js}"></script>
    <script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/js/vendor/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/pages/components/common.js}"></script>
    <script th:src="@{/js/pages/components/header.js}"></script>
    <script th:src="@{/js/pages/shop/shop-details.js}"></script>



</body>

</html>